* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Roboto" , sans-serif; }

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: auto; }

.btn {
  text-decoration: none;
  font-size: 20px;
  padding: .5rem 1.5rem;
  background-color: #e8e51c;
  color: #333;
  display: inline-block; }

.header {
  background: url("../image/pexels-pixabay-163143.jpg");
  background-size: cover;
  background-repeat: none;
  color: #fff;
  height: 30rem; }
  .header_navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem; }
    .header_navbar_logo {
      font-size: 25px; }
    .header_navbar_menu {
      font-size: 25px; }
  .header_text {
    padding: 2rem 3rem;
    margin-top: 10rem; }
    .header_text span {
      font-size: 23px; }
    .header_text h1 {
      font-size: 50px;
      padding: 20px 0;
      margin: 0; }

.wrapper_second {
  padding: 4rem;
  position: relative; }
  .wrapper_second::after {
    position: absolute;
    content: "";
    width: 4.1rem;
    height: 100%;
    background-color: #e8e51c;
    right: 0;
    top: 0; }

.about-us_row-1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px; }
  .about-us_row-1_images {
    cursor: pointer; }
    .about-us_row-1_images img {
      width: 100%;
      height: 100%; }

.about-us_row-2 {
  display: flex;
  padding: 2rem; }
  .about-us_row-2_col-left {
    flex-basis: 50%;
    padding: 3.5rem 1rem; }
    .about-us_row-2_col-left span {
      font-size: 20px; }
    .about-us_row-2_col-left h1 {
      font-size: 50px;
      margin-top: 20px; }
  .about-us_row-2_col-right {
    flex-basis: 50%; }
    .about-us_row-2_col-right p {
      font-size: 19px;
      line-height: 1.4; }

.my-work_title {
  font-size: 50px;
  padding-left: 3rem; }

.my-work_images {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 6px; }

.my-work img {
  border: 4px solid #fff;
  cursor: pointer; }

.my-work img:hover {
  border: 4px solid #e8e51c; }

.my-work a {
  background-color: #fff;
  border: 2px solid #000;
  margin-top: 20px; }

.our-perfect-team_images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 5rem 0 1rem; }
